
.app-header {
  height: 64px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #38bdf8;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

#logoutBtn {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.app-layout {
  display: flex;
  height: calc(100vh - 64px);
}


.sidebar {
  width: 240px;
  background: #020617;
  border-right: 1px solid #1e293b;
  padding: 24px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 14px 32px;
  color: #94a3b8;
  cursor: pointer;
  transition: all 0.25s ease;
}

.sidebar li:hover {
  background: #020617;
  color: #38bdf8;
}

.sidebar li.active {
  background: linear-gradient(90deg, #0ea5e9, transparent);
  color: #e0f2fe;
}


.main-content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}

.view {
  display: none;
}

.view.active {
  display: block;
}

h1 {
  margin-bottom: 24px;
}


.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

.stat-card {
  background: linear-gradient(145deg, #020617, #020617);
  border: 1px solid #1e293b;
  border-radius: 18px;
  padding: 24px;
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-6px);
}

.stat-card h3 {
  font-size: 14px;
  color: #94a3b8;
}

.stat-card p {
  font-size: 32px;
  font-weight: 700;
  margin-top: 12px;
  color: #38bdf8;
}


.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

.course-card {
  background: linear-gradient(160deg, #020617, #020617);
  border: 1px solid #1e293b;
  border-radius: 18px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.course-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.course-card p {
  color: #94a3b8;
  font-size: 14px;
}

.course-card span {
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  color: #38bdf8;
}


.profile-card {
  max-width: 420px;
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 18px;
  padding: 24px;
}

.profile-card p {
  margin-bottom: 12px;
}

@media (max-width: 900px) {
  .sidebar {
    width: 72px;
  }

  .sidebar li {
    padding: 14px;
    text-align: center;
  }

  .sidebar li::after {
    content: '';
  }
}
